@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari, and Opera */html::-webkit-scrollbar {
    display: none;}
/* Hide scrollbar for Firefox */
html {    scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for IE, Edge */body {
    -ms-overflow-style: none; /* IE and Edge */}

    .slick-slide > div {
        margin: 0 10px;
    }
    
    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 2; 
    }
    
    .slick-arrow svg {
        stroke: #FCC21599; 
        stroke-width: 3;
    }
    
    

    .swiper-pagination {
        display: none !important;
      }
      
      .swiper-button-next, 
.swiper-button-prev {
    scale: 0.5; /* Decrease size */
    color: #0e3835 !important; /* Change arrow color */
}

.swiper-button-next::after, 
.swiper-button-prev::after {
    color: #0e3835 !important; /* Change arrow icon color */
}



    